<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.provider.mapper.IUserMapper">
	<!-- 查询所有的用户 -->
	<select id="findAllUsers" parameterType="com.zjh.dubbo.api.pojo.User" resultType="com.zjh.dubbo.api.pojo.User">
		select * from user 
	</select>
	<!-- 根据用户的id 查询用户 -->
	<select id="findUserById" parameterType="int" resultType="com.zjh.dubbo.api.pojo.User">
		select * from user where userid=#{userid}
	</select>
	<!-- 添加用户 -->
	<insert id="addUserInfo">
		insert into user(userid,username,password)
		values(#{userid},#{username},#{password})
	</insert>
	
	<!-- 删除 根据用户的id 删除 -->
	<delete id="removeUserInfo" >
		delete from user where userid=#{id}
	</delete>
	
	<!-- 更新用户信息 -->
	<update id="updateUserInfo" parameterType="com.zjh.dubbo.api.pojo.User">
		update user set username=#{username} ,password=#{password}
		where userid=#{userid}
	</update>

</mapper>